extends ../layout
block content
  .col-sm-9.midlle-bar
      .large-title-row
        img(src='/images/title-icon.png', alt='icon')
        |  User
        .edit-btn-cl.select-item
          
            //select#select(name='select')
              option ACTIONS
      .customer-box.clearfix
        include left_menu
        script(type='text/javascript', src='/js/ckeditor/ckeditor.js')
        form(action='/emailtemplate/update', method='post', name='form3')
            .profile-cl
                .profile-top-row
                  h2 Edit Template
                  .edit-btn-cl
                    input(type='submit', name='save', value='Save',class='save-btn')
                    input(type='hidden', name='template_id', value='#{result._id}')
                .profile-form-box
                  .profile-right-cl
                    form(action='', method='post')
                      .profile-frm-row
                        .profile-frm-cl1  Name 
                        .profile-frm-cl2
                          input(name='name', type='text',required='true', value='#{result.name}')
                      .profile-frm-row
                        .profile-frm-cl1 Subject 
                        .profile-frm-cl2
                          input(name='subject', type='text',required='true', value='#{result.subject}')
                      .profile-frm-row
                        .profile-frm-cl1 User
                        .profile-frm-cl2
                          .select-item
                            select#select(name='user_id')
                              option Shop
                      .profile-frm-row
                        .editer-box Editer
                        .profile-frm-cl2
                            textarea(name='content',id='editor') #{result.content}
                            
            script(type='text/javascript').
                $(document).ready(function(n){
                    CKEDITOR.editorConfig = function( config ) {
                            config.language = 'es';
                            config.uiColor = '#F7B42C';
                            config.height = 200;
                            config.toolbarCanCollapse = 'auto';
                            config.width = true;
                    };

                    //var editorElement = CKEDITOR.document.getById( 'content' );
                    CKEDITOR.replace('editor');
                });


