.customer-cl
    h2 Emails
    ul
      li(class=(activeFlag == 1)?'active':'')
        a(href='/emailtemplate/list')
          | Email Templates
      li(class=(activeFlag == 2)?'active':'')
        a(href='/emailtemplate/add') Add Template