extends ../layout_forget

block content
    .col-sm-9.midlle-bar
        include ../partials/flash
        .large-title-row
            img(src='/images/title-icon.png', alt='icon')
            |  Forgot Password
        .top-btns.clearfix
        .customer-box.clearfix
            form(method='POST')
                
                input(type='hidden', name='_csrf', value=_csrf)
                .form-group
                  p Enter your email address below and we will send you password reset instructions.
                  label.control-label(for='email') Email
                  input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
                .form-group
                  button.btn.btn-primary(type='submit')
                    i.fa.fa-key
                    | Reset Password
