h2 CUSTOMER
ul
  if activeClass == 1
    li.active
      a(href='/customer/list') Profile
  else
    li
      a(href='/customer/list') Profile
  li
    a(href='#') Addresses
  li
    a(href='#') Payment Methods
  li
    a(href='#') Orders
  li
    a(href='#') Product Reviews
  li
    a(href='#') Account
  li
    a(href='#') Linked Accounts
  li
    a(href='#') Notifications
