header
  #content.container
    .logo
      a(href='/')
        img(src='/images/logo.png', alt='icon')
    .top-left
      .top-l-1
        a(href='#')
          img(src='/images/nav-icon.png', alt='icon')
      .top-search
        form(name='form1', method='post', action='#')
          button(type='submit')
            img(src='/images/search-icon.png', alt='icon')
          input#textfield(type='text', name='textfield', placeholder='SEARCH')
    .top-right
      ul
        li.dropdown
        
          a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
            img(src='/images/user-icon.png', alt='icon')
          ul.dropdown-menu.my-account-box
            li.profile-img
              a(href='#')
                span.my-name  #{user.first_name} #{user.last_name}
                span.my-photo
                  img(src='#{user.profile_image}', alt='img')
            //li
              a(href='#')
                i.fa.fa-check-square-o
                |  My Task
            li
              -if(user.role_id == 3 || user.role_id == 4 || user.role_id == 6 ){
                a(href='/user/shopprofile')
                    i.fa.fa-edit
                    |  My Profile
              -}else{
                a(href='/myprofile/57974e587c45cde432ded557')
                    i.fa.fa-edit
                    |  My Profile
              -}
                    
            //li
              a(href='#')
                i.fa.fa-pencil
                |  Edit My Details
            li
              a(href='/logout')
                i.fa.fa-arrow-left
                |  Sign Out
        li.dropdown
          a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
            img(src='/images/notifaction-icon.png', alt='icon')
          span.noti-itme 5
          .dropdown-menu.my-account-box.notifation
            h2.noti-tital Notifications
            ul.user-list
              li
                .u-list-l
                  a(href='#')
                    img(src='/images/img-1.png', alt='img')
                .u-list-m
                  span.time-us-l  11:17am 
                  h4 Ash Arn
                  p Saw the writing under one...
              
              li
                .u-list-l
                  a(href='#')
                    img(src='/images/img-1.png', alt='img')
                .u-list-m
                  span.time-us-l  11:17am 
                  h4 Geno Roefaro
                  p Saw the writing under one...
              .user-list
              li
                .u-list-l
                  a(href='#')
                    img(src='/images/img-1.png', alt='img')
                .u-list-m
                  span.time-us-l  11:17am 
                  h4 Geno Roefaro
                  p Saw the writing under one...
              li.all-view
                span
                  a(href='#') View All > 
              // header end

