.col-sm-3.left-sidebar
        .img-1-wrp
          img(src='/images/img-1.jpg', alt='img')
        .nav-left
          .nav-in
            ul
              li.active
                a(href='#')
                  img(src='/images/left-icon1.png', alt='icon')
                  |  Dashboard
              li
                a(href='#')
                  img(src='/images/left-icon2.png', alt='icon')
                  | Orders
              li
                a(href='#')
                  img(src='/images/left-icon3.png', alt='icon')
                  | Products
              li
                a(href='#')
                  img(src='/images/left-icon4.png', alt='icon')
                  | Customers
              li
                a(href='#')
                  img(src='/images/left-icon5.png', alt='icon')
                  | USERS
              li
                a(href='#')
                  img(src='/images/left-icon6.png', alt='icon')
                  | System
          .follow-us-row
            h4  Follow us
            ul
              li
                a(href='#')
                  i.fa-facebook.fa
              li
                a(href='#')
                  i.fa-google-plus.fa
              li
                a(href='#')
                  i.fa-twitter.fa
              li
                a(href='#')
                  i.fa-envelope.fa
