.col-sm-3.left-sidebar
  .img-1-wrp
        a(href='/dashboard')
          img(src='/images/img-1.jpg', alt='img')
    
  .nav-left
    .nav-in
        
        
          
    .follow-us-row
      h4  Follow us
      ul
        li
          a(href='javascript:void(0);')
            i.fa-facebook.fa
        li
          a(href='javascript:void(0);')
            i.fa-google-plus.fa
        li
          a(href='javascript:void(0);')
            i.fa-twitter.fa
        li
          a(href='javascript:void(0);')
            i.fa-envelope.fa

