.col-sm-3.left-sidebar
        .img-1-wrp
          img(src='/images/img-1.jpg', alt='img')
        .nav-left
          .nav-in
            ul
              li.active
                a(href='/')
                  img(src='/images/left-icon1.png', alt='icon')
                  |  Dashboard
              li.dropdown
                a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', href='/order/list')
                  img(src='/images/left-icon2.png', alt='icon')
                  | Orders                    
                ul.easy-sidebar.dropdown-menu
                  li
                    span.nav-close
                      a(href='#')
                        img(src='/images/close-white.png', alt='close')
                  li
                    span.sub-title USERS
                  li
                    a(href='#') Mange Users
                  li
                    a(href='#') Add User
                

              li
                a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
                  img(src='/images/left-icon3.png', alt='icon')
                  | Products
                
                ul.easy-sidebar.dropdown-menu
                  li
                    span.nav-close
                      a(href='#')
                        img(src='/images/close-white.png', alt='close')
                  li
                    span.sub-title PRODUCTS
                  li
                    a(href='/product/list') Product list
                  li
                    a(href='#') Add Product
                  
                    
              li
                a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
                  img(src='/images/left-icon4.png', alt='icon')
                  | Customers
                  
                ul.easy-sidebar.dropdown-menu
                  li
                    span.nav-close
                      a(href='#')
                        img(src='/images/close-white.png', alt='close')
                  li
                    span.sub-title CUSTOMERS
                  li
                    a(href='/customer/list') Customer list
                  li
                    a(href='#') Add Customer
                  
                    
              li
                a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
                  img(src='/images/left-icon5.png', alt='icon')
                  | USERS
                
                ul.easy-sidebar.dropdown-menu
                  li
                    span.nav-close
                      a(href='#')
                        img(src='/images/close-white.png', alt='close')
                  li
                    span.sub-title USERS
                  li
                    a(href='/user/list') User list
                  li
                    a(href='#') ADD USERS
                  
                    
              li
                a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='#')
                  img(src='/images/left-icon6.png', alt='icon')
                  | System
                
                ul.easy-sidebar.dropdown-menu
                  li
                    span.nav-close
                      a(href='javascript:void(0);')
                        img(src='/images/close-white.png', alt='close')
                  li
                    span.sub-title EMAIL
                  li
                    a(href='/emailtemplate/list') Email templates
                  li
                    a(href='/emailtemplate/add') ADD new template
                
          .follow-us-row
            h4  Follow us
            ul
              li
                a(href='#')
                  i.fa-facebook.fa
              li
                a(href='#')
                  i.fa-google-plus.fa
              li
                a(href='#')
                  i.fa-twitter.fa
              li
                a(href='#')
                  i.fa-envelope.fa
