.col-sm-3.left-sidebar
  .img-1-wrp
    -if(user.role_id == 3 || user.role_id == 4 || user.role_id == 6){
      .logo-left
        a#modal-104831(href='#modal-container-shopLogo', role='button', data-toggle='modal')
            img#modal-104831(src='#{user.shop_logo}', alt='#{user.shop_name}',width='71')
            
        #modal-container-shopLogo.modal.fade.cmn-popup(role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
            .modal-dialog.popup-wdt-1
              form(name='updateColor', method='post', action='/user/updateShopLogo', enctype='multipart/form-data')
                .modal-content
                    .modal-header
                      button.close(type='button', data-dismiss='modal', aria-hidden='true')
                        img(src='/images/close-icon.png', alt='icon')
                      h4#myModalLabel.modal-title
                        | Update Shop Logo
                    .modal-body
                      .upload-box
                        .upload-in
                          input.color_logo(type='file', name='shop_logo',required='required')
                        p.up-title Upload shop logo
                    .modal-footer
                      button(type='submit')
                        | Save
                        
    -}
    -if(user.role_id == 3 || user.role_id == 4 || user.role_id == 6){
       -if(user.userPermissions.indexOf('57c04c7043592d87b0e6f5f9') != -1){
            a(href='/dashboard')
             img(src='#{user.cover_image}', alt='img',width='300',height='123')
       -}else{
            a(href='javascript:void(0)')
             img(src='#{user.cover_image}', alt='img',width='300',height='123')
       -}
    -}else{
        a(href='/dashboard')
          img(src='/images/img-1.jpg', alt='img')
    -}
    
  .nav-left
    .nav-in
      ul
        -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c04c7043592d87b0e6f5f9') != -1){
            li(class=(left_activeClass == 1)?'active':'')
              a(href='/dashboard')
                img(src='/images/left-icon1.png', alt='icon')
                |  Dashboard 
        -}
        -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c04cb743592d87b0e6f5fa') != -1){
            li(class=(left_activeClass == 2)?'active':'')
              a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', href='/order/list')
                img(src='/images/left-icon2.png', alt='icon')
                | Orders                    
              ul.easy-sidebar.dropdown-menu
                li
                  span.nav-close
                    a(href='javascript:void(0);')
                      img(src='/images/close-white.png', alt='close')
                li
                  span.sub-title USERS
                li
                  a(href='javascript:void(0);') Mange Users
                li
                  a(href='javascript:void(0);') Add User
        -}
        -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c04f9a43592d87b0e6f5ff') != -1){
            li(class=(left_activeClass == 3)? 'active':'')
              a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='javascript:void(0);')
                img(src='/images/left-icon3.png', alt='icon')
                | Products
              ul.easy-sidebar.dropdown-menu
                li
                  span.nav-close
                    a(href='javascript:void(0);')
                      img(src='/images/close-white.png', alt='close')
                li
                  span.sub-title PRODUCTS
                li
                  a(href='/product/list') Product list
                -if(user.role_id != 1 && user.role_id !=2){
                    li
                      a(href='/product/list/add') Add Product
                -}


                
                -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c04fef43592d87b0e6f603') != -1){
                    -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c0519c43592d87b0e6f605') != -1){
                        li
                          a(href='/category/list') Manage Categories
                    -}
                    -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c051a943592d87b0e6f606') != -1){
                        li
                          a(href='/color/list') Manage Colors
                    -}
                    -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c051d843592d87b0e6f608') != -1){
                        li
                          a(href='/size/list') Manage Sizes
                    -}
                    -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c051c943592d87b0e6f607') != -1){
                        li
                          a(href='/brand/list') Manage Brands
                    -}
                    -if(user.role_id == 1 || user.role_id == 2 || user.userPermissions.indexOf('57c051ec43592d87b0e6f609') != -1){
                        li
                          a(href='/attribute/list') Manage Attributes
                    -}
                    
                    li
                      span.sub-title Hash Tag
                    li
                      a(href='/tag/list') Hash Tag list
                    li
                      a(href='/tag/add') Add Hash Tag
                -}
        -}
        li(class=(left_activeClass == 4)?'active':'')
          a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='javascript:void(0);')
            img(src='/images/left-icon4.png', alt='icon')
            | Customers
          ul.easy-sidebar.dropdown-menu
            li
              span.nav-close
                a(href='javascript:void(0);')
                  img(src='/images/close-white.png', alt='close')
            li
              span.sub-title CUSTOMERS
            li
              a(href='/customer/list') Customer list
            //li
              //a(href='/user/add') Add Customer
        - if(user.role_id == 1 || user.role_id == 2)              
          li(class=(left_activeClass == 5)?'active':'')
            a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='javascript:void(0);')
              img(src='/images/left-icon5.png', alt='icon')
              | USERS
            
            ul.easy-sidebar.dropdown-menu
              li
                span.nav-close
                  a(href='javascript:void(0);')
                    img(src='/images/close-white.png', alt='close')
              li
                span.sub-title USERS
              li
                a(href='/user/list') User list
              li
                a(href='/user/add') ADD USERS
        - else if(user.role_id == 3 || user.role_id == 4 || user.role_id == 6)
          li(class=(left_activeClass == 5)?'active':'')
            a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='javascript:void(0);')
              img(src='/images/left-icon5.png', alt='icon')
              | MY SHOP
            
            ul.easy-sidebar.dropdown-menu
              li
                span.nav-close
                  a(href='javascript:void(0);')
                    img(src='/images/close-white.png', alt='close')
              li
                span.sub-title MY SHOP
              li
                a(href='/user/shopprofile')
                    -if(user.role_id == 3 || user.role_id == 4){
                        | Shop Profile
                    -}else{
                        | My profile
                    -}
              li
                a(href='/user/shop_shippping_detail') Shipping
              li
                a(href='/user/shop_payment_method') Payment Methods    
              li
                a(href='/user/shop_product_review') Product Reviews  
              li
                a(href='/user/shop_account') Account
              li
                a(href='/user/shop_linked_account') Linked Accounts
              li
                a(href='/user/shop_notification') Notifications     
              - if(user.userPermissions.indexOf('57c052f343592d87b0e6f618') != -1){
                - if(user.userPermissions.indexOf('57f624afed308fb31f7b23c6') != -1){
                      li
                        span.sub-title USERS
                      -if(user.userPermissions.indexOf('57f624cbed308f69097b23c6') != -1){
                          li
                            a(href='/user/shop_user_list') Manage Users
                      -}
                      -if(user.userPermissions.indexOf('57f624d3ed308fea1f7b23c6') != -1){
                          li
                            a(href='/user/add') Add User     
                      -}
                - }
              -}
        -if(user.role_id == 1 || user.role_id == 2){
        li(class=(left_activeClass == 6)?'active':'')
          a.fr-main-link.dropdown-toggle(aria-expanded='false', aria-haspopup='true', role='button', data-toggle='dropdown', href='javascript:void(0);')
            img(src='/images/left-icon6.png', alt='icon')
            | System
          
          ul.easy-sidebar.dropdown-menu
            li
              span.nav-close
                a(href='javascript:void(0);')
                  img(src='/images/close-white.png', alt='close')
            li
              span.sub-title EMAIL
            li
              a(href='/emailtemplate/list') Email templates
            li
              a(href='/emailtemplate/add') ADD new template
        -}
          
    .follow-us-row
      h4  Follow us
      ul
        li
          a(href='javascript:void(0);')
            i.fa-facebook.fa
        li
          a(href='javascript:void(0);')
            i.fa-google-plus.fa
        li
          a(href='javascript:void(0);')
            i.fa-twitter.fa
        li
          a(href='javascript:void(0);')
            i.fa-envelope.fa

