h2 PROFILE
ul
  li(class=(activeClass == 1)?'active':'')
    a(href='/user/shopProfile')
        -if(user.role_id == 3 || user.role_id == 4){
            | My profile
        -}else{
            | My profile
        -}
  li(class=(activeClass == 2)?'active':'')
    a(href='/user/shop_shippping_detail') Shipping
  li(class=(activeClass == 3)?'active':'')
    a(href='/user/paymentMethod') Payment Methods
  li(class=(activeClass == 5)?'active':'')
    a(href='/user/reviews') Product Reviews
  li(class=(activeClass == 6)?'active':'')
    a(href='/user/account') Account
  li(class=(activeClass == 7)?'active':'')
    a(href='/user/linkedAccount') Linked Accounts
  li(class=(activeClass == 8)?'active':'')
    a(href='/user/notifications') Notifications
