.customer-cl
    h2 Hash tag
    ul
      li(class=(activeFlag == 1)?'active':'')
        a(href='/tag/list') Hash tag list
      li(class=(activeFlag == 2)?'active':'')
        a(href='/tag/add') Add hash tag