extends layout

block content
  .page-header
    h3 Sign up
  form.form-horizontal(id='signasdup-form', method='POST' action='/signupmanually/save')
    input(type='hidden', name='device_token', value='asasdasd')
    .form-group
      label.col-sm-3.control-label(for='email') Email
      .col-sm-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, required)
    .form-group
      label.col-sm-3.control-label(for='password') Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', required)
    .form-group
      label.col-sm-3.control-label(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
    .form-group
      label.col-sm-3.control-label(for='username') Username
      .col-sm-7
        input.form-control(type='text', name='username', id='username', placeholder='', required)
    .form-group
      label.col-sm-3.control-label(for='firstname') First Name
      .col-sm-7
        input.form-control(type='text', name='firstname', id='firstname', placeholder='Confirm firstname', required)
    .form-group
      label.col-sm-3.control-label(for='lastname') Last Name
      .col-sm-7
        input.form-control(type='text', name='lastname', id='lastname', placeholder='Confirm lastname', required)
    .form-group
      label.col-sm-3.control-label(for='lastname') Last Name
      .col-sm-7
        input.form-control(type='radio', name='gender', id='gender', value='male')
        input.form-control(type='radio', name='gender', id='gender', value='female')
    .form-group
      .col-sm-offset-3.col-sm-7
        button.btn.btn-success(type='submit')
          i.fa.fa-user-plus
          | Signup
