extends ../layout
block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  #{getCustomerDetails[0].first_name} #{getCustomerDetails[0].last_name}
    .righsub-nav.clearfix
      .left-sub
        ul
          li
            a(href='#')
              img(src='/images/sub-nav-arrow.png', alt='arrow')
          li
            a(href='/customer/list') Back
          li
            a(href='javascript:deleteCustomer("#{getCustomerDetails[0]._id}");') Delete USER 
          li
            a(href='/customer/changePassword') Reset Password 
    .customer-box.clearfix
      .customer-cl
        h2 CUSTOMER
        ul
          li
            a(href='#') Profile
          li
            a(href='#') Addresses
          li
            a(href='#') Payment Methods
          li
            a(href='#') Orders
          li
            a(href='#') Product Reviews
          li
            a(href='#') Account
          li
            a(href='#') Linked Accounts
          li
            a(href='#') Notifications
      .profile-cl
        .profile-top-row
          h2 Account
        .profile-form-box
          .profile-right-cl
            form(action='', method='post')
              .profile-frm-row
                .profile-frm-cl1 Password
                .profile-frm-cl2
                  input(name='password', type='text')
              .profile-frm-row
                .profile-frm-cl1 Confirm Password
                .profile-frm-cl2
                  input(name='confirmPassword', type='text')
              .profile-frm-row 
                .profile-frm-cl1   
                .profile-frm-cl2
                  button(type='submit') UPDATE
