extends ../layout
block content
  .col-sm-9.midlle-bar
    include ../partials/flash
    .large-title-row
      img(src='/images/title-icon5.png', alt='icon')
      |  MY SHOP
      
    .customer-box.clearfix
        .customer-cl
            include ../partials/shop_left_menu
        .profile-cl
            .profile-top-row
              h2 Account
            .profile-form-box
              .shop-acc-box
                form(action='/user/shop_account_update', method='post')
                  .profile-frm-row
                    .profile-frm-cl1  USERNAME
                    .profile-frm-cl2
                      input(name='user_name', type='text', value='#{getCustomerDetails.user_name}',readonly='true')
                  .profile-frm-row
                    .profile-frm-cl1  E-MAIL ADDRESS
                    .profile-frm-cl2
                      input(name='email', type='text', value='#{getCustomerDetails.email_id}',readonly='true')
                  .profile-frm-row
                    .profile-frm-cl1 PASSWORD
                    .profile-frm-cl2
                      input(name='password', type='password', value='',placeholder='*************')
                  .btn-btm
                    -if((user.role_id == 3 || user.role_id == 4 || user.role_id == 6) && user.userPermissions.indexOf('57c052ce43592d87b0e6f616') != -1){
                        button#profile_up_Btn(type='submit') CHANGE PASSWORD
                    -}