.left-sub
    ul
      li
        a(href='#')
          img(src='/images/sub-nav-arrow.png', alt='arrow')
      li
        a(href='#') Back
      li
        a(href='#') Delete USER 
      li
        a(href='#') Reset Password 
      li
        a(href='#') Save and continue edit 