extends ../layout
block content
  .col-sm-9.midlle-bar
    include ../partials/flash
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  #{getUserDetails.first_name} #{getUserDetails.last_name}
    .righsub-nav.clearfix
      include user_top_bar
    .customer-box.clearfix
      .customer-cl
        include ../partials/user_left_menu
      .profile-cl
        .profile-top-row
          h2 NOTIFICATIONS
          input(type='hidden',name='user_id',value='57a5d75e1dd8d04a1816ae82')
        .profile-form-box
          .omer_notification
            .omer_notification
              .omer_notification_box
                .omer_notification_left
                  p  
                .omer_notification_right
                  span
                    img(src='/images/envolap.png')
                  span
                    img(src='/images/mobile.png')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Etiqett News
                .omer_notification_right
                  span
                    -if((result.news.length > 0) && (result.news[0] == 'mail' || result.news[1] == 'mail'))
                        input#radio.css-checkbox(type='checkbox', name='news[]', value='mail',checked='checked')
                    -else
                        input#radio.css-checkbox(type='checkbox', name='news[]', value='mail')
                    label.css-label(for='news[]') 
                  span
                    -if((result.news.length > 0) && (result.news[0] == 'mobile' || result.news[1] == 'mobile'))
                        input#radio1.css-checkbox(type='checkbox', name='news[]', value='mobile',checked='checked')
                    -else
                        input#radio1.css-checkbox(type='checkbox', name='news[]', value='mobile')
                        
                    label.css-label(for='news[]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Items Shipped
                .omer_notification_right
                  span
                    -if((result.shipped.length > 0 ) && (result.shipped[0] == 'mail' || result.shipped[1] == 'mail'))
                        input#radio2.css-checkbox(type='checkbox', name='shipped[]', value='mail',checked="checked")
                    -else
                        input#radio2.css-checkbox(type='checkbox', name='shipped[]', value='mail')
                    label.css-label(for='shipped[]')
                  span
                    -if((result.shipped.length > 0 ) && (result.shipped[0] == 'mobile' || result.shipped[1] == 'mobile'))
                        input#radio3.css-checkbox(type='checkbox', name='shipped[]', value='mobile',checked="checked")
                    -else
                        input#radio3.css-checkbox(type='checkbox', name='shipped[]', value='mobile')
                    label.css-label(for='shipped[]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Items Delivered
                .omer_notification_right
                  span
                    -if(result.delivery.length > 0 && (result.delivery[0] == 'mail' || result.delivery[1] == 'mail'))
                        input#radio4.css-checkbox(type='checkbox', name='deliver[]', value='mail',checked="checked")
                    -else
                        input#radio4.css-checkbox(type='checkbox', name='deliver[]', value='mail')
                    label.css-label(for='deliver[]')
                  span
                    -if(result.delivery.length > 0 && (result.delivery[0] == 'mobile' || result.delivery[1] == 'mobile'))
                        input#radio5.css-checkbox(type='checkbox', name='deliver[]', value='mobile',checked="checked")
                    -else
                        input#radio5.css-checkbox(type='checkbox', name='deliver[]', value='mobile')
                    label.css-label(for='deliver[]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Promo Codes
                .omer_notification_right
                  span
                    -if(result.promocode.length > 0 && (result.promocode[0] == 'mail' || result.promocode[1] == 'mail'))
                        input#radio6.css-checkbox(type='checkbox', name='promo[]', value='mail',checked="checked")
                    -else
                        input#radio6.css-checkbox(type='checkbox', name='promo[]', value='mail')
                    label.css-label(for='promo[]')
                  span
                    -if(result.promocode.length > 0 && (result.promocode[0] == 'mobile' || result.promocode[1] == 'mobile'))
                        input#radio7.css-checkbox(type='checkbox', name='promo[]', value='mobile',checked="checked")
                    -else
                        input#radio7.css-checkbox(type='checkbox', name='promo[]', value='mobile')
                    label.css-label(for='promo[]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p New Arrivals
                .omer_notification_right
                  span
                    -if(result.new_arrival.length > 0 && (result.new_arrival[0] == 'mail' || result.new_arrival[1] == 'mail'))
                        input#radio8.css-checkbox(type='checkbox', name='arrival[]', value='mail',checked="checked")
                    -else
                        input#radio8.css-checkbox(type='checkbox', name='arrival[]', value='mail')
                    label.css-label(for='arrival[]')
                  span
                    -if(result.new_arrival.length > 0 && (result.new_arrival[0] == 'mobile' || result.new_arrival[1] == 'mobile'))
                        input#radio9.css-checkbox(type='checkbox', name='arrival[]', value='mobile',checked="checked")
                    -else
                        input#radio9.css-checkbox(type='checkbox', name='arrival[]', value='mobile')
                    label.css-label(for='arrival[]')
                  .clearfix
                .clearfix
