extends ../layout
block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  #{getUserDetails.first_name} #{getUserDetails.last_name}
    .righsub-nav.clearfix
      include user_top_bar
    .customer-box.clearfix
      .customer-cl
        include ../partials/user_left_menu
      .profile-cl
        .profile-top-row
          h2 NOTIFICATIONS
          input(type='hidden',name='user_id',value='57a5d75e1dd8d04a1816ae82')
        .profile-form-box
          .omer_notification
            .omer_notification
              .omer_notification_box
                .omer_notification_left
                  p  
                .omer_notification_right
                  span
                    img(src='/images/envolap.png')
                  span
                    img(src='/images/mobile.png')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Etiqett News
                .omer_notification_right
                  span
                    -if(getUserDetails.news.email == 1)
                        input#radio.css-checkbox(type='checkbox', name='news[email]', value='1',checked='checked')
                    -else
                        input#radio.css-checkbox(type='checkbox', name='news[email]', value='1')
                    label.css-label(for='news[email]') 
                  span
                    -if(getUserDetails.news.mobile == 1)
                        input#radio1.css-checkbox(type='checkbox', name='news[mob]', value='1',checked='checked')
                    -else
                        input#radio1.css-checkbox(type='checkbox', name='news[mob]', value='1')
                        
                    label.css-label(for='news[mob]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Items Shipped
                .omer_notification_right
                  span
                    -if(getUserDetails.shipped.email == 1)
                        input#radio2.css-checkbox(type='checkbox', name='shipped[email]', value='1',checked="checked")
                    -else
                        input#radio2.css-checkbox(type='checkbox', name='shipped[email]', value='1')
                    label.css-label(for='shipped[email]')
                  span
                    -if(getUserDetails.shipped.mobile == 1)
                        input#radio3.css-checkbox(type='checkbox', name='shipped[mob]', value='1',checked="checked")
                    -else
                        input#radio3.css-checkbox(type='checkbox', name='shipped[mob]', value='1')
                    label.css-label(for='shipped[mob]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Items Delivered
                .omer_notification_right
                  span
                    -if(getUserDetails.delivery.email == 1)
                        input#radio4.css-checkbox(type='checkbox', name='deliver[email]', value='1',checked="checked")
                    -else
                        input#radio4.css-checkbox(type='checkbox', name='deliver[email]', value='1')
                    label.css-label(for='deliver[email]')
                  span
                    -if(getUserDetails.delivery.mobile == 1)
                        input#radio5.css-checkbox(type='checkbox', name='deliver[mob]', value='1',checked="checked")
                    -else
                        input#radio5.css-checkbox(type='checkbox', name='deliver[mob]', value='1')
                    label.css-label(for='deliver[mob]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p Promo Codes
                .omer_notification_right
                  span
                    -if(getUserDetails.promocode.email == 1)
                        input#radio6.css-checkbox(type='checkbox', name='promo[email]', value='1',checked="checked")
                    -else
                        input#radio6.css-checkbox(type='checkbox', name='promo[email]', value='1')
                    label.css-label(for='promo[email]')
                  span
                    -if(getUserDetails.promocode.mobile == 1)
                        input#radio7.css-checkbox(type='checkbox', name='promo[mob]', value='1',checked="checked")
                    -else
                        input#radio7.css-checkbox(type='checkbox', name='promo[mob]', value='1')
                    label.css-label(for='promo[mob]')
                  .clearfix
                .clearfix
              .omer_notification_box
                .omer_notification_left
                  p New Arrivals
                .omer_notification_right
                  span
                    -if(getUserDetails.new_arrival.email == 1)
                        input#radio8.css-checkbox(type='checkbox', name='arrival[email]', value='1',checked="checked")
                    -else
                        input#radio8.css-checkbox(type='checkbox', name='arrival[email]', value='1')
                    label.css-label(for='arrival[email]')
                  span
                    -if(getUserDetails.new_arrival.mobile == 1)
                        input#radio9.css-checkbox(type='checkbox', name='arrival[mob]', value='1',checked="checked")
                    -else
                        input#radio9.css-checkbox(type='checkbox', name='arrival[mob]', value='1')
                    label.css-label(for='arrival[mob]')
                  .clearfix
                .clearfix
