extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row.large_tittle
      img(src='images/title-icon2.png', alt='icon')
      |  ORDERS 
      .right-sub
        a.save-btn(href='#') PRINT INVOICE
    .customer-box.clearfix
      .customer-cl.order_details
        .profile-top-row
          h2 ORDER # 12345
        ul
          li
          li
            .order_label
              strong order date:
            .order_field 07/29/2016
            .clearfix
          li
          li
            .order_label
              strong Order time:
            .order_field 8:30 PM PT
            .clearfix
          li
          li
            .order_label
              strong order status:
            .order_field SHIPPED
            .clearfix
          li
      .profile-cl.order_details
        .profile-top-row
          h2 CUSTOMER
        ul
          li
          li
            .order_label
              strong Username:
            .order_field @ashleyexplainsitall
            .clearfix
          li
          li
            .order_label
              strong FIRST NAME:
            .order_field Ashley
            .clearfix
          li
          li
            .order_label
              strong LAST NAME:
            .order_field Molina
            .clearfix
          li
      .customer-cl.order_details
        .profile-top-row
          h2 BILLING ADDRESS
        ul
          li
            .order_label
              strong Address:
            .order_field  1439 S. Rimhurst Ave
            .clearfix
          li
            .order_label
              strong CITY:
            .order_field  Glendora
            .clearfix
          li
            .order_label
              strong ZIP code:
            .order_field  91740
            .clearfix
          li
            .order_label
              strong State:
            .order_field  CA
            .clearfix
          li
            .order_label
              strong Country:
            .order_field  USA
            .clearfix
      .profile-cl.order_details
        .profile-top-row
          h2 SHIPPING ADDRESS
        ul
          li
            .order_label
              strong Address:
            .order_field  1439 S. Rimhurst Ave
            .clearfix
          li
            .order_label
              strong CITY:
            .order_field  Glendora
            .clearfix
          li
            .order_label
              strong ZIP code:
            .order_field  91740
            .clearfix
          li
            .order_label
              strong State:
            .order_field  CA
            .clearfix
          li
            .order_label
              strong Country:
            .order_field  USA
            .clearfix
      .customer-cl.order_details
        .profile-top-row
          h2 ITEMS TO SHIP
        .product_info
          .product_img
            img(src='images/product.jpg')
          .product_details
            ul
              li
                .order_label
                  strong PRODUCT:
                .order_field  Street Tshirt Turbo
                .clearfix
              li
                .order_label
                  strong SKU:
                .order_field  MTC-6120
                .clearfix
              li
                .order_label
                  strong SIZE:
                .order_field  S
                .clearfix
              li
                .order_label
                  strong COLOR:
                .order_field  Black
                .clearfix
              li
                .order_label
                  strong QTY:
                .order_field  1
                .clearfix
          .product_price $25.00
          .clearfix
        .product_info
          .product_img
            img(src='images/product.jpg')
          .product_details
            ul
              li
                .order_label
                  strong PRODUCT:
                .order_field  Street Tshirt Turbo
                .clearfix
              li
                .order_label
                  strong SKU:
                .order_field  MTC-6120
                .clearfix
              li
                .order_label
                  strong SIZE:
                .order_field  S
                .clearfix
              li
                .order_label
                  strong COLOR:
                .order_field  Black
                .clearfix
              li
                .order_label
                  strong QTY:
                .order_field  1
                .clearfix
          .product_price $25.00
          .clearfix
        .product_info
          .product_img
            img(src='images/product.jpg')
          .product_details
            ul
              li
                .order_label
                  strong PRODUCT:
                .order_field  Street Tshirt Turbo
                .clearfix
              li
                .order_label
                  strong SKU:
                .order_field  MTC-6120
                .clearfix
              li
                .order_label
                  strong SIZE:
                .order_field  S
                .clearfix
              li
                .order_label
                  strong COLOR:
                .order_field  Black
                .clearfix
              li
                .order_label
                  strong QTY:
                .order_field  1
                .clearfix
          .product_price $25.00
          .clearfix
        .total
          .total_item TOTAL ITEMS: 4
          .total_price
            ul
              li
                .order_label
                  strong SUB TOTAL:
                .order_field $100.00
                .clearfix
              li
                .order_label
                  strong TAX:
                .order_field $9.25
                .clearfix
              li
                .order_label
                  strong DELIVERY:
                .order_field $12.00
                .clearfix
          .clearfix
        .total_money TOTAL $121.25
      .profile-cl.order_details
        .profile-top-row
          h2 SHIP FROM ADDRESS
        ul
          li
            .order_label
              strong SHOP:
            .order_field  @ashleyexplainsitall
            .clearfix
          li
            .order_label
              strong Address:
            .order_field  1439 S. Rimhurst Ave
            .clearfix
          li
            .order_label
              strong CITY:
            .order_field  Glendora
            .clearfix
          li
            .order_label
              strong ZIP code:
            .order_field  91740
            .clearfix
          li
            .order_label
              strong State:
            .order_field  CA
            .clearfix
          li
            .order_label
              strong Country:
            .order_field  USA
            .clearfix
      .profile-cl.order_details
        .profile-top-row
          h2 PAYMENT METHOD
        ul
          li
            .order_label
              img(src='images/mastercard.jpg')
            .order_field
              | MASTERCARD   
              br
              | Ending In XXX-1010 
              br
              | EXP 02/20   CVV  123
            .clearfix
          li
            .order_label
              strong CHARGED:
            .order_field $121.25
            .clearfix
      .profile-cl.order_details.shipping_method
        .profile-top-row
          h2 SHIPPING METHOD
        ul
          li
            strong UPS 2-DAY SHIPPING
          li
            strong UPS ACCOUNT 1237912837019
        .btn-btm
          button ADD TRACKING
