extends ../layout
block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon2.png', alt='icon')
      |  ORDERS
      .edit-btn-cl
        a.edit-btn(href='#') PRINT INVOICE
    .customer-box.cmn-in.clearfix
      .low-tbl-box.order-txt
        form(name='form2', method='post', action='')
          table(width='100%', cellspacing='0', cellpadding='0', border='0')
            tbody
              tr
                th(align='center')
                  input#checkbox2(type='checkbox', name='checkbox2')
                th ORDER # 
                th DATE 
                th Brand
                th Customer
                th payment STATUS
                th Total
                th STATUS
                th
                  a(href='#')
                    img(src='/images/delete-icon.png', alt='Delete')
              tr
                td(align='center')
                  input#checkbox4(type='checkbox', name='checkbox4')
                td.ord-title 12345
                td 30 july 2016 8:20AM PT
                td FAKE STREET
                td  Ashley Molina 
                td Paid
                td $103.00
                td.clr-s1 UNFULLFILLED
                td  
              tr
                td(align='center')
                  input#checkbox(type='checkbox', name='checkbox')
                td.ord-title 12345
                td 30 july 2016 8:20AM PT
                td FAKE STREET
                td  Ashley Molina 
                td Paid
                td $103.00
                td.clr-s1 UNFULLFILLED
                td  
              tr
                td(align='center')
                  input#checkbox3(type='checkbox', name='checkbox3')
                td.ord-title 12345
                td 30 july 2016 8:20AM PT
                td FAKE STREET
                td  Ashley Molina 
                td Paid
                td $103.00
                td.clr-s1 REFUNDED
                td  
              tr
                td(align='center')
                  input#checkbox5(type='checkbox', name='checkbox5')
                td.ord-title 12345
                td 30 july 2016 8:20AM PT
                td FAKE STREET
                td  Ashley Molina 
                td Paid
                td $103.00
                td.clr-s2 REFUNDED
                td  
              tr
                td
                  input#checkbox6(type='checkbox', name='checkbox6')
                td.ord-title 12345
                td 30 july 2016 8:20AM PT
                td FAKE STREET
                td  Ashley Molina 
                td Paid
                td $103.00
                td.clr-s3 SHIPPED
                td  
              tr
                td  
                td  
                td  
                td  
                td  
                td  
                td  
                td  
                td  
              tr
                td  
                td  
                td  
                td  
                td  
                td  
                td  
                td  
                td  
        