html
  body
    form(action='/api/customer/create/save', method='post', name='createUser')
      table
        tr
          td First Name 
          td
            input(type='text', name='first_name', value='')
        tr
          td LastName 
          td
            input(type='text', name='last_name', value='')
        tr
          td USer Name 
          td
            input(type='text', name='user_name', value='')
        tr
          td Email 
          td
            input(type='text', name='email_id', value='')
        tr
          td
          input(type='text', name='male', value='male')
        tr
          td
            input(type='submit', name='submit', value='submit')
            input(type='hidden', name='device_token', value='submit')
