extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon.png', alt='icon')
      |  PRODUCTS
    .customer-box.clearfix
      .customer-cl
        h2 CATALOG
        ul
          li.active
            a(href='/product/list') Manage Products
          li
            a(href='/category/list') Manage Categories
          li
            a(href='/color/list') Manage Colors
          li
            a(href='/size/list') Manage Sizes
          li
            a(href='/brand/list') Manage Brands
          li
            a(href='/attribute/create') Create Attribute
      .profile-cl
        .profile-top-row
          h2 MANAGE PRODUCTS
        .profile-form-box.users-in
          .low-tbl-box.large-table.order-txt
            form(action='', method='post', name='form2')
              table(width='100%', cellspacing='0', cellpadding='0', border='0')
                tbody
                  tr
                    th(align='center')
                      input#checkbox2(type='checkbox', name='checkbox2')
                    th
                      | USERNAME 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th
                      | BRAND 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th  IMAGES
                    th PRODUCT NAME
                    th
                      | SIZE 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th
                      | CATEGORY 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th
                      | SUBCATEGORY 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th
                      | PRICE 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th
                      | SOLD 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th ON HAND
                    th
                      | SALES 
                      span.paginng-icon
                        img(src='/images/list-arrow.png', alt='arrow')
                    th
                      a(href='#')
                        img(src='/images/delete-icon.png', alt='icon')
                  tr
                    td(align='center')
                      input#checkbox4(type='checkbox', name='checkbox4')
                    td @fakestreet 
                    td.ord-title Fake Street
                    td
                      .product_table_img
                        img(src='/images/tp.png')
                        ul
                          li
                            a(href='#')
                              img(src='/images/thumptp.png')
                          li
                            a(href='#')
                              img(src='/images/thumptp.png')
                          li
                            a(href='#')
                              img(src='/images/thumptp.png')
                    td Black Infringe Tee
                    td S 
                    td 1439 S. Rimhurst Ave.
                    td SS TEE
                    td $25.00 
                    td  2 
                    td 3
                    td $50.00
                    td  
                  tr
                    td(align='center')
                      input#checkbox(type='checkbox', name='checkbox')
                    td @fakestreet 
                    td.ord-title Fake Street
                    td
                      .product_table_img
                        img(src='/images/tp.png')
                        ul
                          li
                            a(href='#')
                              img(src='/images/thumptp.png')
                          li
                            a(href='#')
                              img(src='/images/thumptp.png')
                          li
                            a(href='#')
                              img(src='/images/thumptp.png')
                    td Black Infringe Tee
                    td S 
                    td 1439 S. Rimhurst Ave.
                    td SS TEE
                    td $25.00 
                    td  2 
                    td 3
                    td $50.00
                    td  
