doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i,700,800', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='css/style_1.css')
    link(rel='stylesheet', type='text/css', href='css/responsive_1.css')
    link(rel='shortcut icon', href='images/favicon.ico')



    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5shiv-printshiv.js.js')
    title :: Welcome ::
  body
    .landing-main-wrap
      .landing-main-in
        .top-box
          .logo-lan
            a(href='#')
              img(src='images/logo-landingpage.png', alt='logo')
          .cmg-slogan
            | Coming to an iPhone near you.
            span WINTER 2016
        .forms-row
          .lf-form
            form#mc-embedded-subscribe-form.validate(action='//etiqett.us14.list-manage.com/subscribe/post?u=7bdb710cf1422d072cdbe1c8e&id=15c35d7ff1', method='post', name='mc-embedded-subscribe-form')
                h3.bcm-title Become the first to shop on etiqett.
                .email-r
                  input#mce-EMAIL.required.email-txt.email(type='email', name='EMAIL', placeholder='E-mail Address', autocomplete='off', required='required')
                  input.dnone(type='text', name='b_7bdb710cf1422d072cdbe1c8e_15c35d7ff1', tabindex='-1', value='')
                  input#btnValidate.sb-btn(type='submit',name='subscribe',value='SUBMIT') 

                .etis-txt
                  | etiqett is out to change the way people
                  | shop. By submitting your e-mail, you are
                  | allowing us to send you information
                  | about the etiqett app.
          .rf-form
            form#mc-embedded-subscribe-form2(name='mc-embedded-subscribe-form', method='post', action='//etiqett.us14.list-manage.com/subscribe/post?u=7bdb710cf1422d072cdbe1c8e&amp;id=2d79f4e092')
                .etis-txt
                  | etiqett is putting brands in front of the
                  | right customers with the proper tools to
                  | grow. Submit your e-mail and we will send
                  | you more infomation on becoming a brand
                  | on the etiqett app.
                h3.bcm-title Become a brand on etiqett.
                .email-r
                  input#mce-EMAIL.required.email-txt.email(type='email', name='EMAIL', placeholder='E-mail Address', autocomplete='off', required='required')
                  input.dnone(type='text', name='b_7bdb710cf1422d072cdbe1c8e_2d79f4e092', tabindex='-1', value='')
                  input.sb-btn(type='submit',name='subscribe',value='SUBMIT') 


