extends ../layout

block content
  .page-header
    h3 Add New Size

    form(name='addsize', action='/savesize', method='POST')
      a(href='/listofsize') Cancel | 
      input.savesize(type='submit', name='savesize', value='Save Size')
      table#POITable(cellpadding='0', cellspacing='0', width='100%')
        tr
          td Size Name
          td
            input.size_name(type='text', name='size_name', value='', required='required')
          td Select Gender
          td
            select.sizegender(name='gender')
             option(value='male') Male
             option(value='female') female
        tr.tr_clone
          td Sizes
          td
            input.size_code(type='text', name='size_code[]', value='', required='required')
          td  
            input.size_label(type='text', name='size_label[]', value='', required='required')
          td  
            input.add_more(type='button', name='add_more', value='add more' onclick="add_more_size()")
          td  
            input.delete_more(type='button', name='delete_more', value='Delete' onclick="deleteRow(this)")  
            
           