extends ../layout

block content
  .col-sm-9.midlle-bar
    .large-title-row
      img(src='/images/title-icon3.png', alt='icon')
      | List of All Sizes
    .top-btns.clearfix
     .btn-s-right
        a.default-btn(href='/size/add', title='Add Size') Add Size
        //a.default-btn(href='/rmvsize', title='Remove Size') Remove Size | 
    
    .customer-box.clearfix
      include ../partials/product_left_menu
      .profile-cl
        .profile-top-row
          h2 MANAGE SIZES
        h3.sub-heading 
        .profile-form-box.users-in
          .low-tbl-box
            table(width='100%')
             tr
              //th Sr.no
              th GENDER
              th SIZES
              th Options
              //th Remove
              //th Edit
             - var i=0;
             - for(i=0;i<result.length;i++){
              tr(class='sizeTr_')
                //td 1
                td 
                    if(i ==0)
                      strong
                        | Male
                    else if(i==1)
                      strong
                        | Female
                    else 
                      strong
                        | Unisex

                td
                  - for(var cr=0;cr<result[i].length;cr++){
                      p
                        a.ord-title(href='/size/edit/#{result[i][cr].id}') #{result[i][cr].name}
                  - }

                td
                  - for(var cr=0;cr<result[i].length;cr++){
                      p
                        - for(var jj=0;jj<result[i][cr].options.length;jj++){
                            | #{result[i][cr].options[jj]}
                            - if((jj+1) != result[i][cr].options.length){
                                |,
                            - }
                        - }
                  - }
                    
             - }